body {
	margin:0
}

.yc {
	position:absolute;
	justify-content:center;
	align-items:center;
	display:-webkit-flex;
	width:100%;
	height:100%;
}

#startAni1{
	margin-left:0%;
	height:100%;
	width:100%;
	/*float:left;*/
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	align-content:flex-start;
	white-space:nowrap;
	flex-direction:column;
	transition:all 0.8s ease-out;
}
#startAni2{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,1);
	transition:all 0.8s ease-in-out;
}

#ChapterMenu #main{
	height:100%;
	width:100%;
	overflow-y:hidden;
	overflow-x:scroll;
	/*float:left;*/
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	align-content:flex-start;
	flex-direction:column
}

.divC{
	box-shadow: 5px 5px 0px rgba(255,255,255,0.3);
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #4c4c4c;
	border-left: 2px solid #4c4c4c;
	position:relative;
	overflow:hidden;
	display:-webkit-flex;
	height:70%;
	width:10%;
	margin-right:2%;
	margin-left:2%;
	background:#aaa;
	float:left;
	flex-wrap:wrap;
	flex-direction:column;
	transition:all 0.4s ease-in-out;


}




.divC #image-preview{
	filter:brightness(0.7);
	width:50%;
	height:100%;
	float:left;
	transition:all 0.4s ease-in-out;
}

.divC #layer{

	margin-left:0%;
	color:#fff;
	font-family:PGR;
	width:50%;
	height:100%;
	float:right;
	overflow:hidden;
	transition:all 0.4s ease-in-out
}



.divC #layer1{
	color:#fff;
	font-family:PGR;
	position:absolute;
	display:flex;
	flex-direction:column;
	align-items:center;
	width:50%;
	height:0%;
	right:0;
	overflow:hidden;
	transition:all 0.4s ease-in-out
}


.divC #shadow{
	position:absolute;
	width:50%;
	height:100%;
	right:0;
	box-shadow:-2px 0px 0px #000;
	transition:all 0.4s ease-in-out
}


.divC #topweapon img{width:100%;height:100%}
.divC #topweapon{
	position:absolute;
	right:0;
	width:0%;
	height:100%;
	transition:all 0.4s ease-in-out;
}


.divC #layer1 #m{
	height:80%;
	width:100%;
	border-radius:3px;
	color:#fff;
	font-size:100%;
	text-align:center;
}


.divC #layer1 #b{
	margin-top:5%;
	height:5%;
	width:50%;
	border-radius:5px;
	color:#fff;
	font-size:100%;
	text-align:center;
	overflow:hidden;
	cursor:pointer;
}

.divC #layer1 #m #title{
	margin:0 auto;
	width:90%;
	height:20%;
	font-size:180%;
	line-height:200%;
	border-bottom:1px solid #fff;
}


.divC #layer1 #m #text{
	margin:0 auto;
	width:90%;
	height:60%;
	font-size:80%;
	line-height:110%;
	overflow-y:scroll;
}

.divC #layer1 #m #text::-webkit-scrollbar{
	width:3px;
	background:rgba(0,0,0,0)
}
.divC #layer1 #m #text::-webkit-scrollbar-thumb{
	background:rgba(255,255,255,0);
	border-radius:5px;
}
.divC #layer1 #m #text:hover::-webkit-scrollbar-thumb{
	background:rgba(255,255,255,0.5);
}
.divC #layer1 #m #text::-webkit-scrollbar-track{
	background:rgba(0,0,0,0);
}





#ChapterMenu #main::-webkit-scrollbar{
	width:3px;
	background:rgba(0,0,0,0)
}
#ChapterMenu #main::-webkit-scrollbar-thumb{
	background:rgba(255,255,255,0);
	border-radius:5px;
}
#ChapterMenu #main::-webkit-scrollbar-track{
	background:rgba(0,0,0,0);
}